server:
  port: 10001
spring:
  application:
    name: sbk-card-event-processor-avro-scstreams

  cloud:
    function:
      definition: logCardEvents # processCardEvents #;other functions

    stream:
      kafka:
        binder:
          brokers: localhost:9092
          autoCreateTopics: false
        producer-properties:
          schema.registry.url: http://localhost:8081
          key.serializer: org.apache.kafka.common.serialization.StringSerializer
          value.serializer: io.confluent.kafka.serializers.KafkaAvroSerializer
        consumer-properties:
          schema.registry.url: http://localhost:8081
          key.deserializer: org.apache.kafka.common.serialization.StringDeserializer
          value.deserializer: io.confluent.kafka.serializers.KafkaAvroDeserializer
          specific.avro.reader: true
        bindings:
          logCardEvents-in-0:
            consumer:
              start-offset: earliest

      bindings:
        logCardEvents-in-0:
          destination: cards-events-avro-topic
          group: card-events-avro-group-2
          content-type: application/*+avro



logging:
  level:
    org:
      springframework: INFO
      apache.kafka: INFO
      springframework.kafka: INFO


