server:
  port: 10001
spring:
  application:
    name: sbk-card-event-processor-json


  # JSON configuration
  jackson:
    serialization:
      write-dates-as-timestamps: true
      fail-on-empty-beans: false
    deserialization:
      fail-on-unknown-properties: false

  cloud:
    function:
      definition: logCardEvents;generateCardEvents # processCardEvents #;other functions

    stream:
      bindings:
        logCardEvents-in-0:
          destination: cards-events-json-topic
          group: card-events-json-group-2
          content-type: application/json
        cardEvents-out-0:
          destination: cards-events-json-topic
          content-type: application/json
        generateCardEvents-out-0:
          destination: cards-events-json-topic
          content-type: application/json
      kafka:
        binder:
          brokers: localhost:9092
          autoCreateTopics: false
        bindings:
          logCardEvents-in-0:
            consumer:
              start-offset: earliest
              trusted-packages:
                - com.foo.cardevent.core.model

logging:
  level:
    org:
      springframework: INFO
      apache.kafka: INFO
      springframework.kafka: INFO


